body, html {
  background-image: url("https://img.freepik.com/free-photo/sport-kit-lying-with-juicy-fruit_23-2147829441.jpg");
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: scroll ;
  background-color: rgba(255, 255, 255, 0.7);
}

list-group-mine .list-group-item { 
  background-color: #292b2c;
  border-top: 1px solid #3f4244;
  border-left-color: #55595b;
  border-right-color: #292b2c;
  text-align: right;
  font-weight: 600;
  color: aliceblue;
} 

.list-group-mine .list-group-item:hover {
  background-color: #515557;
  color: aliceblue;
}

.list-group-mine .list-group-item a:visited {
  background-color: #515557;
  color: aliceblue;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "acme";
  src: local("Acme-Regular"), url("../Fonts/Acme-Regular.ttf");
  text-align: center;
} 

@media screen and (max-width: 1024px) { Specific to this particular image
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}